@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

html,body{
    margin:0;
    padding: 0;
    font-family: 'Bangers', cursive;
    background-image: url(https://image.freepik.com/free-vector/elegant-flamenco-dancer-flat-illustration_82574-7671.jpg);
    background-size: 55%;
    background-position: top;
}
.buttons, .scores {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    top: 15px;
}
.scores {
    top: 60px;
}
.points {
    position: absolute;
    bottom: 20px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    font-size: 2.3em;
}

.pointLeft, .pointRight {
    opacity: 0;
}

#start-button{
    background: #ffc299;
    width: 86px;
    border: 4px solid rgb(186, 255, 216);
    height: 31px;
    border-radius: 15px;
    box-shadow: 2px 3px 5px #757575;
    outline: none;
    font-family: 'Oswald', sans-serif;
}
#stop-button {
    border:4px solid #ffc299;
    width: 86px;
    background:  rgb(186, 255, 216);
    height: 31px;
    border-radius: 15px;
    box-shadow: 2px 3px 5px #757575;
    outline: none;
    font-family: 'Oswald', sans-serif;
}